:root{
	--primary-color: #191919;
	--secondary-color: #595959;
	--light-color: #F0F0F0;
	--white-color: #fff;
	--bar-left-color: #EE1C4A;
	--name-color: #FFF90F;
	--bar-left-color-3: #FC12E4;

	--font-family: "Gill Sans MT";
}